<% if Job.all.length != 0 %>
  <% @cities.each do |city| %>
    <h1><%= city %>:</h1>
    <ul>
    <% @languages.each do |lang| %>
      <% freq = Job.format_frequency(lang, city) %>
      <% if freq > 0 %>
        <li>
          <%= "- " + lang + ": " + freq.to_s + "%" %>
        </li>
      <% end %>
    <% end %>
    </ul>
  <% end %>
  <p>Index of <%= Job.all.length %> jobs.</p>
<% else %>
  <% Job.save_jobs %>
  <p>Refresh to see language frequencies of jobs across different cities</p>
<% end %>